<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baidingapp.faceapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- LeanCloud Storage SDK (4 Basic Modules) START -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- LeanCloud Storage SDK END -->
    <application
        android:name=".FaceAppLeanCloudInterface"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LauncherPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyInformationSingleActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".BasicInformationSingleActivity" />
        <activity android:name=".FaceInformationActivity" />
        <activity android:name=".EliminationRulesActivity" />
        <activity android:name=".SelfLoveInformationActivity" />
        <activity android:name=".SelfHateInformationActivity" />
        <activity android:name=".OutputRateFaceActivity" />
        <activity android:name=".PredictImpressionFaceActivity" />
        <activity android:name=".InputRateFaceActivity" />
        <activity android:name=".BasicInformationDefaultActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".FacePreferenceSurveyActivity" />
        <activity android:name=".FacePreferenceChoiceTaskActivity" />
        <activity android:name=".TodayRecomIntroActivity" />
        <activity android:name=".SeetingsActivity" />
        <activity android:name=".TodayRecommendationActivity"></activity>
    </application>

</manifest>